# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#stopwatch
utils.js
svgIcons.json
src/views/Stopwatch.css
src/views/Stopwatch.jsx
src/views/Button.css
src/views/Button.jsx