.board-text {
    text-align: center;
    color: #FFFFFF;
}

.board-split {
    display: flex;
    flex-direction: row;
    margin-top: 50px; 
}

.export-button {
    position: absolute;
    left: 0;
}

.reactgooglegraph-1{
    width: 80%;
}
.chart{
    width: 50%;
}
.table{
    margin-left: 5%;
    width: 40%;
}