.sidebar-list-item {
  text-align: center;
  display: block;
}

.sidebar-list {
  orientation: vertical;
  display: block;
}

.logo {
  max-width: 100%;
  width: 100%;
}

.AddLog {
  width: 100%;
  margin: 10px;
}
