.sidebar-list-item {
  text-align: center;
  display: block;
}

.sidebar-list {
  orientation: vertical;
  display: block;
}

.logo {
  max-width: 100%;
  width: 100%;
}

.AddLog {
  width: 100%;
  margin: 10px;
}

.sidebar-button { 
  margin: 10px 10%;
  width: 80%;
}

.report-button{
  position: relative;
  bottom: 0;
  text-decoration: none;
  color: black;
  width: 100%;
}


