.clock-inner{
  width:400px;
  height: 400px;
  margin: 10px;
}
.clock-inner circle:nth-child(1) {
  stroke: #00C6CF;
  fill: none;
  stroke-dasharray: 6;
}
.clock-inner circle:nth-child(2) {
  stroke: #00c5cf49;
  fill: none;
  stroke-width: 6px;
  stroke-dasharray: 3;
}
.timer {
  font-size: 60px;
  margin: 155px 65px;
  color: #f5f5f5;
  font-family: monospace;
  position: absolute;
}
.stopwatch{
  margin-top: 6vw;
}

.clock-animation{ 
  position: absolute;
}
.circle-button-primary{
width: 80px;
height: 80px;
border-radius: 50%;
background-color:#00C6CF;
}

.circle-button-red{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color:#ff5f5f;
}

.circle-button-primary svg{
  fill: #f5f5f5;
}

.circle-button-red svg{
  fill: #f5f5f5;
}

.buttons{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}