.board-text {
    text-align: center;
    color: #FFFFFF;
}

.board-split {
    display: flex;
    flex-direction: row;
    margin-top: 50px; 
}

.export-button {
    position: absolute;
    top: 5%; 
}

.selector-button {
    position: absolute;
    right: 5%;
    top: 5%;
}

.team-list {
    position: absolute;
    right: 5%;
    top: 5%;
}

.popover {
    position: absolute;
    right: 5%;
    top: 5%;
}

.reactgooglegraph-1{
    width: 80%;
}

.chart {
    width: 50%;
}

.table {
    margin-left: 5%;
    width: 40%;
}

.team-member-board {
    height: 45vh;
    background-color: #ffffff0c;
    border-width: 2pt;
    border-color: #ffffff80;
    border-style:dashed;
    border-radius: 10px;
    margin: 20px 0;
}

.team-member-board .chart {
    width: 50%;
}

.team-member-board h2{
    margin:50px;
    color:#FFFFFF;
}

