.welcome-bg {
  position: fixed;
  padding: auto;
  top: 150px;
  left: 30%;
}

body {
  overflow: hidden;
  background-color: #3C3D42;
}

.Welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcomeLogo {
  max-width: 300px;
}

.getStarted {
  margin-top: 10%;
}