body {
  background-color: #3C3D42;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-logo {
  max-width: 300px;
}

.get-started-button {
  margin-top: 10%;
  display: none;
}